{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
    <style xmlns="http://www.w3.org/1999/html">
    </style>
{% endblock %}
{% block page_title %}
    Advertisement
{% endblock %}
{% block content %}

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Advertisement Details</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center align-items-center m-5">
        <div class="col-md-5 col-sm-5 col-lg-5">
            <div class="card p-5">
                <img src="{{ad.image.url}}" class="card-img" width="100">
                <h3 class="card-title mt-5 font-weight-bold">{{ad.name}}</h3>
                <h5 class="d-flex card-title justify-content-end">{{ad.script_text}}</h5>            
                
                <h6 class="d-flex justify-content-end">{{ad.created_by.username}}</h6>
                <div class="card-body">
                    <p class="card-text">{{ad.description}}</p>
                    <h6 class="d-flex justify-content-end">{{ad.start_date.date}} - {{ad.end_date.date}}</h6>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}